.center-container{
    position: absolute;
    left: 100px;
    top: 100px;
    height: calc(100% - 116px);
    width: calc(100% - 116px);
    background-color: rgba(0, 0, 0, 0.08);
    padding: 8px;
}