.simple-list-item{
    width: 900px;
    height: 44px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 24px;
    box-shadow: 0px 2px 2px 2px #cccccc;
    position: relative;
}